body{
    background-color: rgb(97, 83, 6);
    scroll-behavior: smooth;
}

.carousel-item img{
    width: 100%;
    max-height: 850px;
    overflow: hidden;
    object-fit: cover;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;   /* distance from bottom */
  right: 20px;    /* distance from right */
  background-color: #25D366; /* WhatsApp green */
  color: white;
  font-size: 24px;
  padding: 12px 16px;
  border-radius: 50px;
  text-align: center;
  z-index: 1000; /* keeps it above other elements */
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}
.whatsapp-float:hover {
  background-color: #20b858;
  color: white;
}
